@import "../../../theme.scss";

button {
    @include theme-light;
    display: block;
    width: 100%;
    padding: $spacing-m;
    margin: 0 auto $spacing-l auto;
    font-size: 24px;
    text-align: center;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    cursor: pointer;

    @include respond-to('desktop') {
        width: 80%;
        font-size: 28px;
    }

    &:hover {
        background-color: $color-choose;
    }
}

.answered {
    opacity: 0.6;

    //Disable correct/wrong hover effect if answered
    &:hover {
        @include theme-light;
    }
}

.correct, .correct:hover {
    background-color: $color-correct;
    color: $color-light;
}

.wrong, .wrong:hover {
    background-color: $color-wrong;
    color: $color-light;
}