@import "../../../theme.scss";

.container {
    @include theme-light;
    margin-bottom: $spacing-l;
    padding: $spacing-m;
    font-size: 24px;
    text-align: center;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;
    transition: color 0.2s ease;
    cursor: pointer;

    @include respond-to('desktop') {
        font-size: 28px;
    }

    &:hover {
        background-color: $color-choose;
    }
}

.answered {
    opacity: 0.6;

    //Disable hover effect if answered
    &:hover {
        @include theme-light;
    }
}

.correct, .correct:hover {
    background-color: $color-correct;
    color: $color-light;
    opacity: 1;
}

.wrong, .wrong:hover {
    background-color: $color-wrong;
    color: $color-light;
    opacity: 1;
}