//Colors
$color-light: #FFF;
$color-dark: #000;
$color-main: #7C3AED;
$color-choose: #F59E0B;
$color-correct: #10B981;
$color-wrong: #EF4444;

@mixin theme-dark {
    background-color: $color-main;
    color: $color-light;
}

@mixin theme-light {
    background-color: $color-light;
    color: $color-dark;
}